$thumb-radius: 8px;
$thumb-height: 14px;
$thumb-width: 39px;

$track-height: 10px;
$track-radius: 5px;

@mixin track() {
  width: 100%;
  height: $track-height;
  cursor: pointer;
  transition: all .2s ease;
  border: 0;
}

@mixin thumb() {
  border: none;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $willow-grove;
  cursor: pointer;
}

[type=range] {
  @include cursor-pointer;

  -webkit-appearance: none;
  background: transparent;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $mine-shaft;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: ($track-height - $thumb-height) / 2;
  }

  &::-moz-range-track {
    @include track();
    background: $mine-shaft;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $mine-shaft;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    background: $mine-shaft;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &::-ms-tooltip {
    display: none;
  }
}

