<div id='dropdown-controls' class="flex">
  <a id="phi-link" href="#phi" title="Phi" class="subject">&phi;</a>
  <a id="pi-link" href="#pi" title="Pi" class="subject active">&pi;</a>
  <a id="e-link" href="#e" title="Euler's number" class="subject">e</a>

  <label for="density-slider">
    Density <output for="density-slider"></output>
  </label>
  <label for="columns-slider">
    Columns <output for="columns-slider"></output>
  </label>
  <div>Digits</div>

  <input id="density-slider" type="range">
  <input id="columns-slider" type="range">

  <div id="digits-radio" class="flex">
    <input id="digit-1k" type="radio" name="digits" value="3" checked="checked">
    <label for="digit-1k">10<sup>3</sup></label>
    <input id="digit-10k" type="radio" name="digits" value="4">
    <label for="digit-10k">10<sup>4</sup></label>
    <input id="digit-100k" type="radio" name="digits" value="5">
    <label for="digit-100k">10<sup>5</sup></label>
    <input id="digit-1m" type="radio" name="digits" value="6">
    <label for="digit-1m">10<sup>6</sup></label>
  </div>

  <label for="rows-slider">
    Rows <output for="rows-slider"></output>
  </label>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <input id="rows-slider" type="range">
  <div>&nbsp;</div>
  <div>&nbsp;</div>
</div>
