<div id='dropdown-links'>
  <span>
    Save &nbsp;
    <a id="save-svg" href="/" title="Download as SVG">SVG</a>
    <a id="save-png" href="/" data-hook="download-png">PNG</a>
  </span>
  <a id="permalink" data-hook="perma" href='/' title="Direct link to current configuration">Permalink</a>
</div>
