<div id='dropdown-links'>
  <span>
    Save &nbsp;
    <a id="save-svg" class="download" href="/" data-hook="download-svg">SVG</a>
    <a id="save-png" class="download" href="/" data-hook="download-png">PNG</a>
  </span>
  <a id="permalink" data-hook="perma" href='/'>Permalink</a>
</div>
